@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* start of home section */
.home {
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
  font-size: larger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}
/* end of home section */

/* start of about section */
.about {
  width: 100%;
  height: 35vh;
  text-align: center;
  padding: 50px;
}
/* end of about section */

/* start of services section */
.service {
  width: 100%;
  height: 55vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
}
/* end of services section */

/* start of what we do section */
.whatDo {
  height: 40vh;
  text-align: center;
  padding: 50px;
}
.wedo {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}
/* end of what we do section */

/* start of portfolio section */
.port {
  height: 90vh;
  width: 100%;
  padding: 50px;
  text-align: center;
}
.one {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}
.two {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}
/* end of the portfolio section */

/* start of the contact section */
.contact {
  height: 70vh;
  width: 100%;
  color: white;
  text-align: center;
  padding: 50px;
}
form {
  padding: 30px;
}
input {
  border-radius: 5px;
  border-color: white;
  color: #fff;
  background-color: transparent;
  padding: 10px;
  margin: 10px;
}
textarea {
  border-radius: 5px;
  border-color: white;
  color: #fff;
  background-color: transparent;
  margin: 10px;
}
button {
  width: 59%;
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}
.status {
  width: fit-content;
  color: greenyellow;
}
/* end of the contact section */

/* start of the footer section */
.footer {
  height: 25vh;
  text-align: center;
  padding: 50px;
}
p {
  margin: 10px;
}
.icon {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
/* end of the footer section */
